body{
  font-family: Arial;
}

.todo-grid,
.input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.input-grid{
  margin-bottom: 15px;
  align-items: stretch;
}

.name-input,
.due-date-input{
  font-size: 15px;
  padding: 6px;
}

.add-todo-button{
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.delete-todo-button{
  background-color: darkred;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

}

hr {
  border-top: 1px dotted gray;
}
